.container {
    margin: 0 auto;
    width: 7.5rem;
    .testrem {
      width: 7.5rem;
      height: 3rem;
      background: yellowgreen;
    }
    .me {
      font-size: 0.3rem;
      color: red;
    }
}